doctype html
html(lang="en" dir="rtl")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;500;600;700;800;900&display=swap" rel="stylesheet">
        title Document
        link(rel="stylesheet", href="./css/all.min.css")
        link(rel="stylesheet", href="./css/bootstrap.css")
        link(rel="stylesheet", href="./css/main.css")
        link(rel=" icon", href="./assets/logo-edit.png", type="image/png")
    body
        section.landing
            header
                .logo 
                    img(src="./assets/logo-edit.png", alt="")
                .info 
                    .text 
                        p مؤسسة نجمة الشرق للعقارات
                        p East star property corporation

            h1 يحتاج اي مستثمر في العالم الى شريك موثوق به <br>دعنا بحث لك عن عقارك المثالي
            <i class="fa-solid fa-angle-down arrow "></i>
            .concat-us 
                p نحن شركاء الثقة 
                p تواصل معنا اللآن مباشرة 
                .btns 
                    a(href="#"): i(class="fa-brands fa-whatsapp whatsapp fa-fw") 
                    a(href="#"): i(class="fa-brands fa-snapchat fa-fw snap") 

        script(src="./js/all.min.js") 
        script(src="./js/bootstrap.bundle.js") 
        script(src="./js/main.js") 